
.about-me {
    height: 100vh;
}

.text-background {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    opacity: 0.6;

    h3,
    p,
    button {
        z-index: 10;
    }
}
