<div id="aboutme" class="about-me d-flex justify-content-center">
    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <h4 style="margin-top: 30px;color: white;">About Me</h4>
        </div>
        <br>
        <div class="row back">
            <div class="col-4">
                <img src="../../assets/gargi.jpeg" class="fluid img-thumbnail rounded propic">
            </div>
            <div class="col text-background">
                <h3>I'm Gargi and I'm a Software Engineer.</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum is simply dummy text
                    of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                    ever since the 1500s, when an unknown printer took a galley of type and scrambled it .Lorem Ipsum is
                </p>
                <button class="btn btn-danger">Download CV</button>
            </div>
        </div>
    </div>
</div> 
