<app-navbar></app-navbar>
<div class="about-me d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                <img src="../../assets/gargi.jpeg" class="fluid img-thumbnail justify-content-end rounded propic">
            </div>
            <div class="col-md-9 col-sm-6 col-lg-9 col-xs-6 text-background">
                <div class="row align-itetms-start p-2 p-5 rounded">
                    <h3>About Me</h3>
                    <br><br>
                    <p>
                        I am Gargi Bandyopadhyay, a Software Engineer at Dell.
                        I have around 1 year of experience in Fullstack Develpoment.
                        I have worked on both backend and frontend technologies.
                        <br>
                        I am an active learner willing to learn new technologies while adding value to the organisation.
                        Proficient in English language skills to convince potential customers and clients.
                    </p>
                    <button class="btn btn-primary">
                        <a href="../../assets/resume.pdf" download="Gargi_Resume.pdf">
                            Download CV
                        </a>
                    </button>
                    <button class="btn btn-primary" routerLink="/exp">Know more </button>
                </div>
            </div>
        </div>
    </div>
</div>
