.navbar-brand{
    font-weight: bold;
    color: white;
}
.nav-item a{
    font-weight: bold;
    color: white;
}
#navbarNav{
    justify-content: flex-end;
}
// .navbar{
//     background-color: #0d0d0d;
// }