.navbar-brand{
    font-weight: bold;
    color: #707070;
}
.nav-item a{
    font-weight: bold;
    color: #707070;
}
#navbarNav{
    justify-content: flex-end;
}
// .navbar{
//     background-color: black;
// }