.navbar-brand{
    font-weight: bold;
    color: white;
}
.nav-item a{
    font-weight: bold;
    color: white;
}
#navbarNav{
    justify-content: flex-end;
    li{
        a:hover{
           color: rgb(255, 209, 6);
        }
    }
}
.navbar{
    background-color: #262626;
}
.logo{
    height: 40px;
    margin-left: 62px;
}
.navbar-toggler{
    background: white;
    // position: absolute;
    
}
.active {
    background-color: rgb(255, 209, 6);
}