.experience {
    height: 100vh;
    overflow-y: auto;
    background: url('../../assets/about1.jpg');
    h3 {
        color: white;
    }
}

.profpic {
    height: 600px;
}

#exprience{
    align-items: center;
}
.card-title {
    color: white;
}

.card {
    cursor: pointer;
    width: 18rem;
    background-color: #cccccc;
    transition: 1s ease;
}

.card:hover {
    background-color: rgb(252, 224, 100);
    // -webkit-transform: scale(1.1);
    // -ms-transform: scale(1.1);
    // transform: scale(1.1);
    // transition: 1s ease;

    .card-text {
        color: white !important;
    }

    .card-subtitle {
        color: white !important;
    }
}

.card-head {
    display: flex;
    justify-content: center;
}

.logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 29%;
}