<app-navbar></app-navbar>
<div class="experience d-flex justify-content-center">
    <div class="container" style="margin-top: 60px;">
        <div class="row justify-content-center">
            <h3 id="experience">My Experience</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/dell-logo.png" alt="" class=" logo img-fluid rounded-circle">
                        </div>

                        <h5 class="card-title d-flex justify-content-center">Dell EMC</h5>
                        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center">Software Engineer-1</h6>
                        <p class="card-text text-muted d-flex justify-content-center">Oct, 2022 - Present</p>
                        <p class="card-text text-muted d-flex justify-content-center">Banglore</p>
                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalLong">
                                Know more
                            </button>
                        </div>


                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        hey !
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 d-flex justify-content-center ">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/acc-logo.png" alt=""
                                class="d-flex rounded img-fluid justify-content-center logo rounded-circle">
                        </div>

                        <h5 class="card-title d-flex justify-content-center">Accenture</h5>
                        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center">Software Engineer</h6>
                        <p class="card-text text-muted d-flex justify-content-center">Sept, 2021 - Oct, 2022</p>
                        <p class="card-text text-muted d-flex justify-content-center">Hyderabad</p>
                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#accenture">
                                Know more
                            </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="accenture" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        hello!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/cts-logo.png" alt=""
                                class="d-flex img-fluid justify-content-center logo rounded-circle">
                        </div>

                        <h5 class="card-title d-flex justify-content-center">Cognizant</h5>
                        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center">Intern</h6>
                        <p class="card-text text-muted d-flex justify-content-center">Jan, 2021 - May, 2022</p>
                        <p class="card-text text-muted d-flex justify-content-center">Kolkata</p>
                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cognizant">
                                Know more
                            </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="cognizant" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        heya!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>