.experience {
    height: 100vh;
    overflow-y: auto;
    background: url('../../assets/about1.jpg');

    h3 {
        color: white;
    }
}

.profpic {
    height: 600px;
}

h3 {
    margin-top: 30px;
    align-items: center;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    font-weight: bolder;
}

.card-title {
    color: white;
}

.card {
    cursor: pointer;
    width: 18rem;
    background-color: #cccccc;
    transition: 1s ease;
}

.card:hover {

    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    // background: #7F7FD5;
    // background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    // background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    .card-text {
        color: white !important;
    }

    .card-subtitle {
        color: white !important;
    }
}

img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 1s ease;
}

.card-head {
    display: flex;
    justify-content: center;
}

.logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}