<app-navbar></app-navbar>
<div class="experience d-flex justify-content-center align-items-center">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/dell-logo.png" alt="" class=" logo img-fluid rounded-circle">
                        </div>

                        <h5 class="card-title d-flex justify-content-center">Dell EMC</h5>
                        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center">Software Engineer-1</h6>
                        <p class="card-text text-muted d-flex justify-content-center">Oct, 2022 - Present</p>
                        <p class="card-text text-muted d-flex justify-content-center">Bangalore</p>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dellModal">
                                Know more
                            </button>
                        </div>
                        <div class="modal fade" id="dellModal" tabindex="-1" role="dialog" aria-labelledby="dellModalTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="dellModalTitle">Dell EMC - Responsibilities</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li>Developed Facade Layer APIs for Bare Metal Orchestrator (BMO) for Kubernetes resource access via CLI and GUI.</li>
                                            <li>Reduced API response time by 30% through optimizations.</li>
                                            <li>Standardized error codes, improving customer satisfaction.</li>
                                            <li>Enhanced error messages with resolution steps, reducing resolution time by 25%.</li>
                                            <li>Implemented RHEL OS Inventory Collection for BMO 2.1, received Applause award.</li>
                                            <li>Contributed to firmware BIOS upgrade feature for IMOP 1.1.</li>
                                            <li>Optimized APIs to decrease firmware upgrade time by 20%.</li>
                                            <li>Increased unit test coverage by 80%.</li>
                                            <li>Developed common inventory feature for DTIAS 2.0, including PostgreSQL integration.</li>
                                            <li>Implemented soft deletion for better auditing, boosting audit efficiency by 50%.</li>
                                            <li>Designed a purger logic to optimize database management.</li>
                                            <li>Contributed to drift detection feature, generating customizable drift reports.</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 d-flex justify-content-center ">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/acc-logo.png" alt="" class="d-flex rounded img-fluid justify-content-center logo rounded-circle">
                        </div>
                        <h5 class="card-title d-flex justify-content-center">Accenture</h5>
                        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center">Software Engineer</h6>
                        <p class="card-text text-muted d-flex justify-content-center">Sept, 2021 - Oct, 2022</p>
                        <p class="card-text text-muted d-flex justify-content-center">Hyderabad</p>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#accentureModal">
                                Know more
                            </button>
                        </div>
                        <div class="modal fade" id="accentureModal" tabindex="-1" role="dialog" aria-labelledby="accentureModalTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="accentureModalTitle">Accenture - Responsibilities</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>RPL Utility</strong></p>
                                        <p><strong>Technologies Used:</strong> Spring Boot, MySQL, HTML, CSS, Angular 6.0.8, Java, Apache POI, REST API</p>
                                        <ul>
                                            <li>Developed a Utility for the client team with which users can download a template, fill it up with dummy order details and upload the same to the portal, post which the data uploaded is sent to upstream via queues and further processed.</li>
                                            <li>Single handedly worked on the UI for the Utility using Angular 6.0.8 and added backend validations to validate if the uploaded file has the required entries filled in it.</li>
                                            <li>Implemented the REST API for the download functionality.</li>
                                        </ul>
                                        <p><strong>Trade Dashboard</strong></p>
                                        <p><strong>Technologies Used:</strong> HTML, CSS, Angular 14, DDS, Chart.js, Bootstrap</p>
                                        <ul>
                                            <li>Developed the UI for a dashboard using Angular 14 following Micro frontend architecture (Module Federation).</li>
                                            <li>Worked on the static layout of the dashboard and API integration with the UI in the form of charts (using Charts.js).</li>
                                        </ul>
                                        <p><strong>Inventory Management System</strong></p>
                                        <p><strong>Technologies Used:</strong> Spring Boot, Spring Data JPA, JSP, CSS, MySQL</p>
                                        <ul>
                                            <li>Developed an Inventory Management System where users can place orders based on materials and brand names and fetch date wise reports for their orders.</li>
                                            <li>Developed the Frontend views using JSP, CSS and backend APIs using REST, Spring Boot, MySQL and Spring Data JPA.</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/cts-logo.png" alt="" class="d-flex img-fluid justify-content-center logo rounded-circle">
                        </div>
                        <h5 class="card-title d-flex justify-content-center">Cognizant</h5>
                        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center">Intern</h6>
                        <p class="card-text text-muted d-flex justify-content-center">Jan, 2021 - May, 2022</p>
                        <p class="card-text text-muted d-flex justify-content-center">Kolkata</p>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cognizantModal">
                                Know more
                            </button>
                        </div>
                        <div class="modal fade" id="cognizantModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Cognizant - Responsibilities</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li>Automated Practo.com website using Selenium and Java.</li>
                                            <li>Worked on requirement analysis, test case preparation, and end-to-end automation testing.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
