<app-navbar></app-navbar>
<div class="experience d-flex justify-content-center">
    <div class="container" style="margin-top: 60px;">
        <div class="row justify-content-center">
            <h3 id="experience" style="margin-top: 30px;">My Experience</h3>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/dell-logo.png" alt=""
                            class="d-flex justify-content-center img-responsive"
                            style="height: 100px;border-radius:50%;margin-left: 30%;">
                        <h5 class="card-title d-flex justify-content-center">Dell Technologies</h5>
                        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center">Software Engineer 1</h6>
                        <p class="card-text text-muted d-flex justify-content-center">Oct, 2022 - Present</p>
                        <p class="card-text text-muted d-flex justify-content-center">Banglore</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/acc-logo.png" alt="" class="d-flex justify-content-center img-responsive"
                            style="height: 100px ;width: 100px;border-radius:50%;margin-left: 30%;">
                        <h5 class="card-title d-flex justify-content-center">Accenture</h5>
                        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center">Fullstack Engineering
                            Analyst</h6>
                        <p class="card-text text-muted d-flex justify-content-center">Sept, 2021 - Oct, 2022</p>
                        <p class="card-text text-muted d-flex justify-content-center">Hyderabad</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/cts-logo.png" alt="" class="d-flex justify-content-center img-responsive"
                            style="height: 100px ;width: 100px;border-radius:50%;margin-left: 30%;">
                        <h5 class="card-title d-flex justify-content-center">Cognizant</h5>
                        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center">Programmer Analyst
                            Trainee</h6>
                        <p class="card-text text-muted d-flex justify-content-center">January, 2021 - May, 2022</p>
                        <p class="card-text text-muted d-flex justify-content-center">Kolkata</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>