<app-navbar></app-navbar>
<div class="cover d-flex justify-content-center align-items-center">
    <form action="https://formspree.io/f/xknezgnw" class="rounded" method="POST">
        <div class="d-flex justify-content-center">
            <h3>Contact Me</h3>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="name" type="text" class="form-control" id="name" placeholder="Enter Name">
            </div>
            <div class="form-group col-md-6">
                <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email">
            </div>
            <div class="form-group col-md-6">
                <input type="text" name="location" class="form-control" id="location" placeholder="Enter Location">
            </div>
            <div class="form-group col-md-6">
                <input type="number" name="number" class="form-control" id="number" placeholder="Enter Contact Number">
            </div>
            
        </div>
        <div class="form-group">
            <textarea rows="5" name="message" class="form-control" id="message" placeholder="Enter Message"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
        <br>
        <div class="d-flex justify-content-center contact">
             <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Gmail.max-1100x1100.png" alt="">
             <img src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" alt="">
            <img src="https://play-lh.googleusercontent.com/PCpXdqvUWfCW1mXhH1Y_98yBpgsWxuTSTofy3NGMo9yBTATDyzVkqU580bfSln50bFU" alt="">
           <img src="https://media.glamour.com/photos/5cfa5d2d450ef2688b5a3f4c/6:7/w_852,h_994,c_limit/00-promo-insta.jpg" alt="">
        </div>
    </form>
</div>