<app-navbar></app-navbar>
<div class="cover d-flex justify-content-center align-items-center">
    <form action="https://formsubmit.co/ed5bdc4220b1864f81f1522facb771e8" class="rounded" method="POST">
        <div class="d-flex justify-content-center">
            <h3>Contact Me</h3>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="name" type="text" class="form-control" id="name" placeholder="Enter Name">
            </div>
            <div class="form-group col-md-6">
                <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email">
            </div>
        </div>
        <div class="form-group">
            <textarea rows="5" name="message" class="form-control" id="message" placeholder="Enter Message"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>