<app-navbar></app-navbar>

<div class="container">
    <div class="row" id="row" >
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5" id="im">
            <div class="images">
                <img src="../../assets/shapes.png" alt="" class="shape">
                <img src="../../assets/gargi-removebg-preview.png" alt="" class="profpic" >
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7 wrapper">
            <div class="static-text">
                <h1>I am <span>Gargi Bandyopadhyay</span></h1>
                <div>
                    <span #textElement class="text"></span>
                    <span #blinkElement class="text blink"></span>
                  </div>
                <p>Welcome to my official portfolio website.</p>
                <button class="btn btn-danger hire" routerLink="/contact">Hire me</button>
            </div>
        </div>
    </div>
</div>