.hire {
    height: 40px;
}

.inner-text {
    color: black;
}

.static-text {
    color: white;
}

.wrapper {
    display: inline-flex;
    margin-top: 10%;
    margin-left: 53%;
    .dynamic-text {
        height: 40px;
        line-height: 50px;
        overflow: hidden;
        // margin-left: 22%;
        li {
            list-style: none;
            font-size: 29px;
            line-height: 40px;
            // background: red;
            color: #FC6D6D;
            font-weight: 500;
            position: relative;
            top: 0;
            animation: slide 8s steps(4) infinite;

            span {
                position: relative;
            }

            span::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background: #262626;
                border-left: 2px solid #FC6D6D;
                left: 0;
                animation: typing 2s steps(19) infinite;
            }
        }
    }
    h1{
        color: white;
        span{
            color: orange;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

@keyframes slide {
    100% {
        top: -158px;
    }
}

.intod {
    height: 100vh;
    width: 100%;
}

.images {
    width: 45%;
    height: 50%;
    position: absolute;
    bottom: 0;
    top: 26%;

    img {
        
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
}
.images:hover .shape{
    bottom: 40px;
}
.images:hover .profpic{
   left: 45%;
}