.hire {
    height: 40px;
}

.inner-text {
    color: black;
}

.static-text {
    color: white;
}

.wrapper {
    display: inline-flex;
    h1 {
        color: white;

        span {
            color: orange;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
}

.intod {
    height: 100vh;
    width: 100%;
}

.images {
    width: 45%;
    height: 50%;
    position: absolute;
    bottom: 0;
    .profpic {
        height: 400px;
    }
    .shape {
        height: 350px;
    }
    img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
}

.images:hover .shape {
    bottom: 40px;
}

.images:hover .profpic {
    left: 45%;
}
#row{
    height: 100vh !important;
    align-items: center;
}
#im{
    margin-top: 268px;
}

.blink {
    border-right-style: solid;
    animation: 1s blink infinity;
  }
  
  @keyframes blink {
    to {
      opacity: 0;
    }
  }
  