<app-navbar></app-navbar>


<div class="images">
    <img src="../../assets/shapes.png" alt="" class="shape">
    <img src="../../assets/gargi-removebg-preview.png" alt="" class="profpic">
</div>

<div class="col col-sm-4 inner-text wrapper">
    <div class="static-text">
        <!-- <h5>Hello, my name is</h5> -->
        <h1>I am <span>Gargi Bandyopadhyay</span></h1>
        <!-- <h2>I'm a</h2> -->
        <ul class="dynamic-text">
            <li><span>Software Engineer</span></li>
            <li><span>Fullstack Developer</span></li>
            <li><span>Learner</span></li>
            <li><span>Coder</span></li>
        </ul>
        <p>Welcome to my official portfolio website.</p>
        <button class="btn btn-danger hire" routerLink="/contact">Hire me</button>
    </div>
</div>