<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title">Frontend</h5>
                    </div>
                    <hr>
                    <ul class="list-f">
                        <li><a href="https://angular.io" target="_blank" rel="noreferrer"> <img
                                    src="https://angular.io/assets/images/logos/angular/angular.svg" alt="angular"
                                    width="40" height="40" />
                            </a> Angular
                        </li>
                        <li><a href="https://getbootstrap.com" target="_blank" rel="noreferrer"> <img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL2dqL9_6Bj4kC1zZePmlmIYJahM1qRRgArHkccm9HgwI9kGRZdwJ-1TbWAdY-Timcp84&usqp=CAU"
                                    alt="bootstrap" width="40" height="40" />
                            </a>Bootstrap
                        </li>
                        <li> <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer"> <img
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png"
                                    alt="css3" width="40" height="40" />
                            </a>CSS3
                        </li>
                        <li> <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
                                    alt="html5" width="40" height="40" />
                            </a>HTML5
                        </li>
                        <li><a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1200px-Typescript_logo_2020.svg.png"
                                    alt="typescript" width="40" height="40" />
                            </a>Typescript
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title">Backend</h5>
                    </div>
                    <hr>
                    <ul class="list-f">
                        <li>
                            <a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img
                                    src="https://cdn-icons-png.flaticon.com/512/226/226777.png" alt="typescript"
                                    width="40" height="40" />
                            </a> Java
                        </li>
                        <li>
                            <a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/926px-C_Programming_Language.svg.png"
                                    alt="typescript" width="40" height="40" />
                            </a>C Programming
                        </li>
                        <li><a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img
                                    src="https://dz2cdn1.dzone.com/storage/temp/12434118-spring-boot-logo.png"
                                    alt="typescript" width="40" height="40" />
                            </a>Spring Boot
                        </li>
                        <li><a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Spring_Framework_Logo_2018.svg/2560px-Spring_Framework_Logo_2018.svg.png"
                                    alt="typescript" width="40" height="40" />
                            </a>Spring Core
                        </li>
                        <li><a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ80RidDi8KDlmHLslZWHsylrdbHgq-8t3MX5ypGDh9ih69GC04rl04kZ4WhMSr5jdMyrE&usqp=CAU"
                                    alt="typescript" width="40" height="40" />
                            </a> Hibernate
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title">Database</h5>
                    </div>
                    <hr>
                    <ul class="list-f">
                        <li><a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img
                                    src="https://www.svgrepo.com/show/303251/mysql-logo.svg"
                                    alt="typescript" width="40" height="40" />
                            </a>MySQL
                        </li>
                        <li>
                            <a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img
                                    src="https://cdn.worldvectorlogo.com/logos/oracle-logo-1.svg"
                                    alt="typescript" width="40" height="40" />
                            </a>Oracle
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h5 class="card-title">Hosting</h5>
                    </div>
                    <hr>
                    <ul class="list-f">
                        <li><a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img
                                    src="https://w7.pngwing.com/pngs/921/271/png-transparent-oracle-corporation-oracle-weblogic-server-computer-servers-application-server-others-text-logo-oracle-database.png"
                                    alt="typescript" width="40" height="40" />
                            </a>Weblogic
                        </li>
                        <li>
                            <a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img
                                    src="https://cdn.iconscout.com/icon/free/png-256/netlify-3628945-3030170.png"
                                    alt="typescript" width="40" height="40" />
                            </a>Netlify
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>